import os

IS_CONTAINER = os.environ.get('IS_CONTAINER', False)
HOST = "host.docker.internal" if IS_CONTAINER else "localhost"

# STAGING
DB = dict(
    env= dict(
        port=
        host=HOST,
        user=
        password=
        dbname=
    ),
)